In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import re
from nltk.corpus import stopwords #nltk is natural language toolkit #stopwords are words that dont add much importance to our text
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
import difflib
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
movds=pd.read_csv('movies.csv')

In [11]:
#movds

In [12]:
#movds.shape

In [13]:
#movds.columns

In [14]:
#movds.isnull().sum()

In [15]:
#selecting the relevant features 
#selected_features=['index','budget','id','runtime','status','tagline','crew']
selected_features=['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [16]:
#replacing null values with null string
for feature in selected_features:
    movds[feature]=movds[feature].fillna('')

In [17]:
#combining all selected features
newmovds=movds['genres']+''+movds['keywords']+''+movds['tagline']+''+movds['cast']+''+movds['director']
print(newmovds)

0       Action Adventure Fantasy Science Fictioncultur...
1       Adventure Fantasy Actionocean drug abuse exoti...
2       Action Adventure Crimespy based on novel secre...
3       Action Crime Drama Thrillerdc comics crime fig...
4       Action Adventure Science Fictionbased on novel...
                              ...
4798    Action Crime Thrillerunited states\u2013mexico...
4799    Comedy RomanceA newlywed couple's honeymoon is...
4800    Comedy Drama Romance TV Moviedate love at firs...
4801    A New Yorker in ShanghaiDaniel Henney Eliza Co...
4802    Documentaryobsession camcorder crush dream gir...
Length: 4803, dtype: object

In [18]:
#converting text data to numberical values
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer= TfidfVectorizer() #Term Frequency Inverse Document Frequency, counts number of times a word is repeating in a document. the repetion of the word signifies how important the word actuall is
feature_vectors= vectorizer.fit_transform(newmovds)

In [19]:
#print(feature_vectors)

In [20]:
#getting similarity using cosine similarity

In [21]:
similarity= cosine_similarity(feature_vectors)

In [22]:
#print(similarity)

In [23]:
#similarity.shape

In [24]:
#getting movie name from user
movie_name=input('enter your favourite movie name: ')

In [25]:
#creating a list of movies given in the dataset
list_of_all_titles=movds['title'].to_list()
#print(list_of_all_titles)

In [26]:
#finding close match for movie name given by the user
find_close_match= difflib.get_close_matches(movie_name,list_of_all_titles)
print(find_close_match)

['Titanic', 'Maniac', 'Hitman']

In [27]:
close_match=find_close_match[0]
print(close_match)

Titanic

In [28]:
#finding index of movie with title
index_movie=movds[movds.title==close_match]['index'].values[0]
print(index_movie)

25

In [29]:
#getting a list of simillar movies
similarity_score=list(enumerate(similarity[index_movie])) #enumerate is like running a loop in a list.

In [30]:
#print(similarity_score)

In [31]:
#sorting the movies based on their similarity score
sorted_similar_movies=sorted(similarity_score,key= lambda x:x[1], reverse=True)
top10_recomended= sorted_similar_movies[:10]
#print(top10_recomended)
# print('Index Numbers of top 10')

# for i in top10_recomended:
#     index=i[0]

In [32]:
#finding title of movie with index
print('the top 10 related movies for',movie_name, 'are: ')
for i in top10_recomended:
    index=i[0]
    title_of_movie=movds[movds.index==index]['title'].values
    print(index,title_of_movie)

the top 10 related movies for titanic are:
25 ['Titanic']
593 ['The Dilemma']
1081 ['Revolutionary Road']
3631 ['Heavenly Creatures']
142 ['Flushed Away']
316 ['Gangs of New York']
2449 ['Sense and Sensibility']
49 ['The Great Gatsby']
2245 ['The Brothers Bloom']
439 ['Shutter Island']

# Movie Recommendation System

In [33]:
def Favourite_movie(movie_name):
    list_of_all_titles=movds['title'].to_list()
    #print(list_of_all_titles)
    #finding close match for movie name given by the user
    find_close_match= difflib.get_close_matches(movie_name,list_of_all_titles)
    #print(find_close_match)
    close_match=find_close_match[0]
    #print(close_match)
    #finding index of movie with title
    index_movie=movds[movds.title==close_match]['index'].values[0]
    #print(index_movie)
    #getting a list of simillar movies
    similarity_score=list(enumerate(similarity[index_movie])) #enumerate is like running a loop in a list.
    # print(similarity)
    #sorting the movies based on their similarity score
    sorted_similar_movies=sorted(similarity_score,key= lambda x:x[1], reverse=True)
    top10_recomended= sorted_similar_movies[:10]
    #finding title of movie with index
    print('the top 10 related movies to',movie_name, 'are: ')
    k=1
    for i in top10_recomended:
        index=i[0]
        title_of_movie=movds[movds.index==index]['title'].values
        for i in title_of_movie:
            print(k,i)
            k+=1

# What is your favourite Movie

In [34]:
Favourite_movie('titonic')

[[1.         0.06865296 0.01492221 ... 0.         0.         0.        ]
 [0.06865296 1.         0.02799128 ... 0.01243107 0.         0.        ]
 [0.01492221 0.02799128 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.01243107 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]
the top 10 related movies to titonic are:
1 Titanic
2 The Dilemma
3 Revolutionary Road
4 Heavenly Creatures
5 Flushed Away
6 Gangs of New York
7 Sense and Sensibility
8 The Great Gatsby
9 The Brothers Bloom
10 Shutter Island